:root {
  --color-primary: #0a8373;
  --color-bg: #e5f0ef;
  --color-button: #c1b20e;

  --color-card-dark: #0a8373;
  --color-card-light: #0a8373;

  --color-white: #ffffff;
  --color-black: #000000;
}
