.job-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.job-list-text {
  flex: 1;
}

.jobb-actions {
  display: flex;
  justify-content: flex-end;
}

.sorting-button {
  display: flex;
  justify-content: right;
}

.af-joblist-scope {
  --digi--color--background--primary: #00000000;
  --digi--color--background--inverted-1: var(--color-primary);
  --digi--color--border--secondary: #00000000;
}
