.search-and-save-container {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-around;
}

.unsave-button {
  display: flex;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}
