@import '../style/colors.css';

.search-panel {
  width: 100%;
}

.bg-image-wrap {
  display: none;
}

.search-panel .block {
  --digi--layout-block--background--primary: var(--color-bg);
  margin-bottom: 2rem;
}

.search-panel
  .sc-digi-layout-container-h
  .digi-layout-container.sc-digi-layout-container {
  --digi--layout-container--width: 40rem;
  --digi--layout-container--gutter: var(--digi--container-gutter--small);
  background-color: var(--color-primary);
  padding: 1rem;
  margin-top: 10rem;
  position: relative;
}

.search-panel
  .digi-form-input--button-variation-primary
  .digi-form-input__input-wrapper.sc-digi-form-input-s
  > [slot^='button']
  button,
.search-panel .digi-form-input__input-wrapper .sc-digi-form-input-s,
.search-panel
  .sc-digi-icon-search-h
  svg.sc-digi-icon-search
  > [slot^='button']
  button,
.search-panel .sc-digi-icon-search-h svg.sc-digi-icon-search {
  color: black;
  height: 2rem;
}

.search-panel svg.sc-digi-icon-chevron-up,
.search-panel svg.sc-digi-icon-chevron-down {
  color: black;
}

.search-panel svg.sc-digi-icon-chevron-right {
  color: black;
}

.search-panel .sc-digi-form-label-h .digi-form-label.sc-digi-form-label {
  color: white;
}

.search-panel h2,
.search-panel h3 {
  color: white;
}

.search-panel .digi-button.sc-digi-button[aria-pressed='true'],
.search-panel .digi-button.sc-digi-button:hover {
  background-color: var(--color-button);
  color: black;
}

.search-panel .sc-digi-button-h .digi-button--size-medium.sc-digi-button:hover,
.search-panel
  .sc-digi-button-h
  .digi-button--size-medium.sc-digi-button:active {
  background-color: #b4a60c;
}

.search-panel .special-btn {
  --digi--button--width: 6.5rem;
  --digi--button--icon--spacing: 0.5rem;
  --digi--button--justify-content--default: center;
  --digi--button--padding--medium: 0.5rem 0.75rem;
  --digi--button--justify-content--default: flex-end;
}

.search-panel .ort-label {
  --digi--button--icon--spacing: 0.6rem;
  letter-spacing: 1.5px;
}

.search-panel .yrke-label {
  letter-spacing: 0.75px;
}

.search-panel .btn-wrap .digi-button.sc-digi-button[aria-pressed='true'],
.search-panel .btn-wrap .digi-button.sc-digi-button:hover {
  background: white;
}

.search-panel .digi-form-input__input.sc-digi-form-input {
  z-index: 10;
}

.search-panel
  .sc-digi-layout-columns-h
  .digi-layout-columns.sc-digi-layout-columns {
  grid-row-gap: 0;
}

.search-panel
  .sc-digi-layout-columns-h
  .digi-layout-columns--three.sc-digi-layout-columns {
  --digi--layout-columns--gap--column: 1rem;
  grid-template-columns: repeat(3, minmax(0, 7rem));
  justify-items: center;
  align-items: center;
}

.search-panel .sc-digi-button-h .digi-button--size-medium.sc-digi-button {
  background-color: var(--color-button);
}

.search-panel .dropdown-layout {
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0.5rem 1rem #00000026;
  border-radius: 0.4rem;
  width: 100%;
  max-width: 45rem;
  position: absolute;
  top: 14.8rem;
  left: 50%;
  transform: translate(-50%);
}

.search-panel .dropdown-wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  width: 100%;
}

.search-panel .circle-active {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: green;
  border-radius: 50%;
}

.search-panel .circle-hidden {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: transparent;
}

.search-panel .hidden {
  display: none;
}

.search-panel .dropdown-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px black solid;
}

.search-panel .option-btn {
  --digi--button--color--text--function--default: black;
  --digi--button--width: 100%;
  --digi--button--justify-content--default: space-between;
  display: flex;
  --digi--button--font-size--small: 1rem;
  --digi--button--font-weight--function: 400;
}

.search-panel .option-btn .digi-button.sc-digi-button:hover {
  background: var(--color-card-light);
}

.search-panel .option-btn .digi-button.sc-digi-button[aria-pressed='true'] {
  background: var(--color-primary);
  color: white;
}

.digi-form-checkbox__label.sc-digi-form-checkbox:last-child {
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}

.sc-digi-button-h .digi-button--variation-function.sc-digi-button:hover,
.sc-digi-button-h .digi-button--variation-function.sc-digi-button:focus {
  text-decoration: none;
}

.search-panel .clear-btn {
  --digi--button--color--text--function--default: red;
  text-decoration: underline;
  text-decoration-color: red;
  --digi--button--color--text--function--hover: red;
  --digi--button--padding--small: 0 0 0.5rem 0;
}

.search-panel .clear-btn .digi-button.sc-digi-button[aria-pressed='true'],
.search-panel .clear-btn .digi-button.sc-digi-button:hover {
  color: red;
}

.search-panel .back-btn {
  --digi--button--color--text--function--default: black;
  --digi--button--padding--small: 0 0 0.5rem 0;
}

.search-panel .back-btn .digi-button.sc-digi-button[aria-pressed='true'],
.search-panel .back-btn .digi-button.sc-digi-button:hover {
  color: black;
}

.sc-digi-icon-chevron-right-h svg.sc-digi-icon-chevron-right {
  --digi--icon--height: 0.75rem;
}

.search-panel
  .btn-container.sc-digi-layout-columns-h
  > .digi-layout-columns.sc-digi-layout-columns {
  grid-template-columns: auto 1fr auto auto;
  padding-top: 1rem;
}

.option-wrap {
  padding-top: 0.5rem;
}

.dropdown-form {
  display: grid;
  grid-template-columns: 1fr;
}

.search-panel .dropdown-form .sc-digi-form-fieldset-h {
  --digi--form-fieldset--padding: 1rem 0 0 0;
}

.search-panel .bevaka-btn,
.search-panel .rensa-btn {
  display: none;
  --digi--button--color--text--function--default: white;
  --digi--button--font-size--small: 1rem;
  --digi--button--color--icon--function--default: white;
  --digi--button--font-weight--function: 400;
  --digi--button--padding--small: 0.5rem;
}

.search-panel .bevaka-btn .digi-button.sc-digi-button:hover,
.search-panel .rensa-btn .digi-button.sc-digi-button:hover {
  background: transparent;
  color: white;
  --digi--button--color--icon--function--hover: white;
  --digi--button--color--icon--function--active: white;
  text-decoration: underline;
}

@media (min-width: 475px) {
  .search-panel .bevaka-btn,
  .search-panel .rensa-btn {
    display: block;
  }
}

@media (min-width: 576px) {
  .search-panel
    .digi-form-input--button-variation-primary
    .digi-form-input__input-wrapper.sc-digi-form-input-s
    > [slot^='button']
    button,
  .search-panel .digi-form-input__input-wrapper .sc-digi-form-input-s,
  .search-panel
    .sc-digi-icon-search-h
    svg.sc-digi-icon-search
    > [slot^='button']
    button,
  .search-panel .sc-digi-icon-search-h svg.sc-digi-icon-search {
    width: 6rem;
  }
}

@media (min-width: 768px) {
  .search-panel .dropdown-layout {
    left: 0;
    transform: translate(0);
  }

  .bg-image-wrap {
    display: block;
  }

  .dropdown-form {
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  }

  .search-panel .hidden {
    display: block;
  }

  .search-panel .back-btn {
    display: none;
  }

  .search-panel .clear-btn {
    --digi--button--padding--small: 0;
  }
}

@media (min-width: 992px) {
  .search-panel .btn-wrap {
    position: relative;
  }

  .search-panel .dropdown-layout {
    top: 2.8rem;
    width: 42rem;
  }
}
